JS:

	wp.blocks.registerBlockStyle( 'core/columns', [ 
		{
			name: 'col-dividers',
			label: 'Column dividers',
		},
	]),
  
  
  
  /*--------------------*/
  
  CSS:
  
  
/* Columns with dividers */
.wp-block-columns.is-style-col-dividers {
    padding: 0;
}

.wp-block-columns.is-style-col-dividers .wp-block-column {
	position: relative;
}

.wp-block-columns.is-style-col-dividers .wp-block-column:after {
    content: '';
    display: block;	
	background: #ddd;
    width: 100%;
    height: 1px;
	margin-bottom: 2em;
}


.wp-block-columns.is-style-col-dividers .wp-block-column:last-child:after {
	display: none;
}



@media only screen and (min-width: 768px) {

	
	.wp-block-column,
	.wp-block-media-text .wp-block-media-text__content,
	.wp-block-columns.is-style-col-dividers .wp-block-column:first-of-type {
		padding: 35px;
	}
	
	
960 -- 		
	.wp-block-column,
	.wp-block-columns.is-style-col-dividers .wp-block-column:first-of-type {
		padding: 3em 2em;
	}
	
  
Wherever columns start --- 
  
	/* Moves col-dividers to side instead of bottom */
	.wp-block-columns.is-style-col-dividers .wp-block-column:after {
		content: '';
		width: 1px;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		margin-bottom: 0;
	}

